# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745
#https://ath3nd.wordpress.com/2018/12/09/spring-lombok-or-injection-just-became-a-bit-easier-part-1-of-2/
#https://ath3nd.wordpress.com/2018/12/13/spring-lombok-or-injection-just-became-a-bit-easier-part-2-of-2/
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier